[user]
	name = Micah Smith
	email = micahjsmith@gmail.com
    useConfigOnly = true
[github]
	user = micahjsmith
[alias]
    a        = add
    amend    = commit --amend --no-edit
    au       = add -u
    br       = branch
    ch       = checkout
    co       = commit
    d        = difftool -g
    dc       = difftool
    dcc      = difftool --cached
    fix      = "!git add -u && git commit --amend --no-edit"
    gr       = grep
    lg       = log --graph --all --full-history --color --abbrev-commit --decorate
    lgp      = log --graph --full-history --color --pretty=format:'%C(yellow)%h%Creset%x09%Cblue%d%Creset %<(72,trunc) %s <%an> %x09 %C(cyan dim)%ar%Creset' origin/master HEAD
    lgpd     = log --graph --all --full-history --color --date=short --pretty=format:'%C(yellow)%h%Creset%x09%Cblue%d%Creset %<(72,trunc) %s <%an> %x09 %C(cyan dim)%ad%Creset'
    mt       = mergetool -g
    mtc      = mergetool
    pr-clean = "!git for-each-ref refs/heads/pr/* --format='%(refname)' | while read ref ; do branch=${ref#refs/heads/} ; git branch -D $branch ; done"
    st       = status --untracked-files=no
    wip      = "!git add -u && git commit -m 'update'"
[apply]
    whitespace = fix
[branch]
    autosetuprebase = always
[core]
    whitespace = trailing-space,space-before-tab
    filemode = false
	excludesfile = ~/.gitignore
[diff]
    tool = vimdiff
    guitool = vscode
[difftool]
    prompt = false
[difftool "vimdiff"]
    # vim will otherwise fail on filenames starting with a '+'
    cmd = vim -d -- "$LOCAL" "$REMOTE"
[difftool "vscode"]
    cmd = code --wait --diff "$LOCAL" "$REMOTE"
[hub]
	protocol = https
[init]
	defaultBranch = master
[merge]
    tool = vimdiff
    guitool = vscode
    conflictstyle = diff3
[mergetool]
    prompt = false
[mergetool "vimdiff"]
    cmd = vim -d -- "$LOCAL" "$MERGED" "$REMOTE"
[mergetool "vscode"]
    cmd = code --wait "$MERGED"
[pull]
    ff = only
[push]
    default = tracking
    autoSetupRemote = true
[url "git@github.com:"]
	insteadOf = https://github.com/
[include]
    path = ~/.gitconfig.local
