[user]
	name = Micah Smith
	email = micahjsmith@gmail.com
[alias]
	d   = difftool
	lgp = log --graph --all --full-history --color --pretty=format:'%C(yellow)%h%Creset%x09%Cblue%d%Creset %s <%an>'
	lg  = log --graph --all --full-history --color --abbrev-commit --decorate
	m   = mergetool
    st  = status
    co  = checkout
    br  = branch
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[difftool "vimdiff"]
    # vim will otherwise fail on filenames starting with a '+'
	cmd = "vimdiff -- $LOCAL $REMOTE"
[branch]
	autosetuprebase = always
[url "https://"]
	insteadof = git://
	pushInsteadOf = git://
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
[push]
	default = tracking
