"*":
  "atom-ide-ui":
    "atom-ide-outline-view": {}
  "atom-typescript":
    allowJS: true
    showSemanticView: true
  "autocomplete-plus":
    confirmCompletion: "enter"
    fileBlacklist: [
      "*.md"
      "*.txt"
    ]
  "autocomplete-python":
    useKite: false
  "bracket-matcher":
    autocompleteBrackets: false
    wrapSelectionsInBrackets: false
  build:
    panelVisibility: "Show on Error"
  "build-make":
    jobs: 1
  core:
    disabledPackages: [
      "language-julia"
      "pdf-view"
    ]
    packagesWithKeymapsDisabled: [
      "external-open"
      "ex-mode"
      "latex"
    ]
    projectHome: "/Users/micahsmith/workspace"
    telemetryConsent: "no"
    themes: [
      "one-light-ui"
      "solarized-light-syntax"
    ]
  editor:
    fontSize: 12
    preferredLineLength: 79
    scrollPastEnd: true
    showIndentGuide: true
    softWrap: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "26e337ac-f691-46c2-b2b8-9a2d4df2add6"
  "ide-python":
    python: "/usr/local/miniconda3/bin/python"
  "julia-client":
    firstBoot: false
    uiOptions:
      enableMenu: true
      enableToolBar: true
      layouts:
        openDefaultPanesOnStartUp: false
  latex:
    enableShellEscape: true
    moveResultToSourceDirectory: false
    openResultAfterBuild: false
    openResultInBackground: false
    outputDirectory: "build"
  "pdf-view":
    fitToWidthOnOpen: true
    paneToUseInSynctex: "left"
    reverseSyncBehaviour: "Double click"
  "spell-check":
    grammars: [
      "source.asciidoc"
      "source.gfm"
      "text.git-commit"
      "text.plain"
      "text.plain.null-grammar"
      "text.tex.latex"
    ]
  "tool-bar":
    position: "Left"
    visible: false
  "uber-juno":
    disable: true
  "vim-mode-plus": {}
  welcome:
    showOnStartup: false
  wordcount:
    extensions: [
      "md"
      "markdown"
      "readme"
      "txt"
      "rst"
      "adoc"
      "log"
      "msg"
      "tex"
    ]
